/* ========================COMMON */
@font-face {
    font-family: "OpenSans Regular";
    src: url(../fonts/OpenSans-Regular.woff)
      format("woff");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "OpenSans Bold";
    src: url(../fonts/OpenSans-Bold.woff)
      format("woff");
    font-weight: 700;
    font-style: normal;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    /* font-family: "Open Sans Regular", sans-serif; */
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
  label {
    width: 100%;
    cursor: default;
  }
  
  input {
    outline: none;
    border: none;
    padding: 6px 12px;
    width: 100%;
  }
  
  button {
    border: none;
    cursor: pointer;
  }
  
  p {
    margin: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
  }
  
  .container-relative {
    position: relative;
    z-index: 1;
  }

  
  
  /* =======================HEADER */
  .header {
    position: relative;
    padding: 30px 0 125px;
    background-image: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #1c2141;
    z-index: 0;
  }
  
@media screen and (min-width: 641px) and (max-width: 1199px) {
    .header {
      padding: 40px 0;
      background-image: url(../images/banner-bg-tablet.jpg);
    }
  }

  @media screen and (max-width: 640px) {
    .header {
      min-height: 640px;
      padding: 30px 0 220px;
      background-image: url(../images/banner-mobile.jpg);
    }
  }

  .header::before {
    content: "";
    background-color: #000000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    opacity: 0.4;
    z-index: -1;
}

  .header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.45;
    z-index: -1;
  }


@media screen and (min-width: 641px) and (max-width: 1199px) {
  .container {
    width: 91%;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 640px) {
.container {
    width: 91.7%;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}
  
  .header-logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (max-width: 640px) {
    .header-logo-menu {
      justify-content: flex-end;
    } 
  }
  
  .header-logo {
    display: block;
  }

  @media screen and (max-width: 640px) {
    .header-logo {
      display: none;
    }
  }

  .menu-burger {
    display: none;
  }
  
  @media screen and (min-width: 641px) and (max-width: 1199px) {
    .header-logo {
      width: 160px;
    }
  }

  @media screen and (max-width: 1199px) {
    .menu-burger {
      display: block;
      width: 1.25em;
      height: 1em;
      padding: 0;
      border: none;
      background-color: transparent;
      font-size: 20px;
      position: relative;
      text-indent: -9999px;
      cursor: pointer;
    }
  }


@media screen and (max-width: 1199px) {
  .menu-burger::before {
    top: 0;
  }
}

@media screen and (max-width: 1199px) {
  .menu-burger::before, .menu-burger::after {
    content: "";
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
  }
}

@media screen and (max-width: 1199px) {
  .menu-burger-label {
   width: 100%;
   height: 20%;
   margin-top: -0.1em;
   border-radius: 5px;
   background-color: #ffffff;
   position: absolute;
   left: 0;
   top: 50%;
  }
}

@media screen and (max-width: 1199px) {
  .menu-burger:after {
    bottom: 0;
  }
}
 
.menu-list {
    display: flex;
  }
  
  .menu-list-item-nth-child {
    margin-left: 24px;
  }

  @media screen and (min-width: 641px) and (max-width: 1199px) {
    .menu-list {
      display: none;
    }
  }

  @media screen and (max-width: 640px) {
    .menu-list {
      display: none;
    }
  }
  
  .menu-link {
    color: #ffffff;
    font-family: "OpenSans Bold", sans-serif;
    text-transform: uppercase;
  }
  
  .menu-link:hover {
    text-decoration: underline;
  }
  
.logo-mobile {
    display: none;
}

.logo-img {
  width: 180px;
}

@media screen and (max-width: 640px) {
 .logo-mobile:hover, .logo-mobile:focus {
    border: none;
    outline: 1px solid #b59f5b;
    outline-offset: 10px;
  }
}

@media screen and (max-width: 640px) {
 .logo-mobile {
    display: block;
    text-align: center;
    width: 75%;
    margin: 175px auto 0 auto;
 }
}

  .header-title {
    width: 690px;
    margin: 100px auto 0 auto;
    font-size: 45px;
    line-height: 1.66;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "OpenSans Bold", sans-serif;
  }

  @media screen and (min-width: 641px) and (max-width: 1199px) {
    .header-title {
      width: 89%;
      max-width: 600px;
      font-size: 40px;
      line-height: 1.4;
    }
  }

  @media screen and (max-width: 640px) {
   .header-title {
     width: 75%;
     max-width: 270px;
     margin: 44px auto 0 auto;
     font-size: 26px;
     line-height: 1.38;
   }
  }

  /* ============================TREND */
  .trends {
    max-width: 1660px;
    margin: 60px auto 0 auto;
  }

  @media screen and (min-width: 641px) and (max-width: 1199px) {
    .trends {
      margin-top: 50px;
    }
  }

  @media screen and (max-width: 640px) {
  .trends {
    margin-top: 45px;
  }
 }

  .section-title {
    font-size: 20px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-family: "OpenSans Bold", sans-serif;
    text-align: center;
    margin-bottom: 24px;
  }

  @media screen and (min-width: 641px) and (max-width: 1199px) {
  .section-title {
    font-size: 18px;
    }
  }

  @media screen and (max-width: 640px) {
  .section-title {
    font-size: 16px;
  }
  }

  .section-title::after {
    content: "";
    display: block;
    width: 66px;
    height: 3px;
    margin: 15px auto 20px auto;
    background-color: #b59f5b;
    opacity: 0.4;
  }

  @media screen and (min-width: 641px) and (max-width: 1199px) {
    .section-title::after {
      margin: 15px auto 20px auto;
    }
  }

  @media screen and (max-width: 640px) {
   .section-title::after {
     margin: 12px auto 25px auto;
   }
  }

  .trend-items {
    display: flex;
    flex-wrap: wrap;
  }

  .trend-item {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: calc(25% - 4px);
    flex-grow: 1;
    margin-right: 4px;
    margin-bottom: 4px;
    padding: 0 20px 15px 20px;
    z-index: 0;
    min-height: 320px;
  }

  @media screen and (min-width: 641px) and (max-width: 1199px) {
    .trend-item {
      width: calc(50% - 4px);
    }
  }

  @media screen and (min-width: 641px) and (max-width: 1199px) {
    .trend-item-even {
      margin-right: 0;
    }
  }

  .trend-item_1 {
    background: url(../images/trend1.jpg) no-repeat center center;
    background-size: cover;
  }

  .trend-item_2 {
    background: url(../images/trend2.jpg) no-repeat center center;
    background-size: cover;
  }

  .trend-item_3 {
    background: url(../images/trend3.jpg) no-repeat center center;
    background-size: cover;
  }

  .trend-item_4 {
    background: url(../images/trend4.jpg) no-repeat center center;
    background-size: cover;
  }

  @media screen and (max-width: 640px) {
    .trend-item {
      width: 100%;
      margin-right: 0;
      margin-bottom: 3px;
      min-height: 230px;
    }
  }

  .trend-item:before {
    content: '';
    position: absolute;
    opacity: 0.6;
    background-color: black;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
  }

  .trend-content {
    width: 100%;
    border: 3px solid #918155;
    padding: 40px 40px 35px 25px;
  }

  @media screen and (min-width: 641px) and (max-width: 1199px) {
    .trend-content {
      padding: 35px 60px 35px 30px;
    }
  }
  
  @media screen and (max-width: 640px) {
   .trend-content {
    padding: 30px 30px 30px 20px;
   }
  }
  
  .trend-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .trend-list-item {
   margin-right: 20px;
   font-size: 14px;
   font-family: "OpenSans Bold", sans-serif;
   text-transform: uppercase;
  }

  .trend-link {
    text-decoration: none;
    color: #b59f5b;
  }

  .trend-title-card {
    margin: 10px 0 0 0;
    line-height: 1.2;
  }

  .trend-name {
    color: #ffffff;
    font-size: 20px;
    font-family: "OpenSans Bold", sans-serif;
    text-transform: uppercase;
  }
  @media screen and (max-width: 640px) {
    .trend-name {
      font-size: 16px;
    }
  }
  
  
  /* =============================MAIN */
  .content {
    margin: 30px 0;
  }

@media screen and (min-width: 641px) and (max-width: 1199px) {
  .content {
    margin-top: 50px;
    width: 91%;
    padding-left: 0;
    padding-right: 0;
  }
}

  .content-wrapper {
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  
@media screen and (max-width: 640px) {
  .content-wrapper {
     margin-top: 45px;
     display: block;
  }
 }
  
  .main {
    width: 780px;
  }

@media screen and (max-width: 640px) {
  .main {
    width: 100%;
    margin-right: 0;
  }
}
  
  .card {
    display: flex;
    align-items: flex-start;
  }

 @media screen and (min-width: 641px) and (max-width: 1199px) {
    .card {
      margin-right: 35px;
      display: block;
    }
  }

@media screen and (max-width: 640px) {
  .card {
    display: block;
  }
}
  
  .card-last-child {
    margin-bottom: 60px;
  }
  
  .card-img {
    margin-right: 30px;
  }

  @media screen and (min-width: 641px) and (max-width: 1199px) {
    .card-img {
     margin-bottom: 17px;
     margin-right: 0;
    }
  }

@media screen and (max-width: 640px) {
 .card-img {
    width: 100%;
 }
}

  @media screen and (min-width: 641px) and (max-width: 1199px) {
    .news-content::after {
      content: "";
      display: block;
      margin-top: 23px;
      margin-bottom: 40px;
      width: 100%;
      height: 3px;
      background-color: #eeeeee;
    }
  }

  @media screen and (max-width: 640px) {
    .news-content::after {
       content: "";
       display: block;
       margin-top: 20px;
       margin-bottom: 35px;
       width: 100%;
       height: 3px;
       background-color: #eeeeee;
    }
   }
  
  .news-link {
    font-size: 14px;
    font-family: "OpenSans Bold", sans-serif;
    color: #b59f5b;
    text-transform: uppercase;
    line-height: 24px;
    margin-bottom: 32px;
  }
  
  .news-link:hover {
    text-decoration: underline;
  }
  
  .news-list-item {
    display: inline-block;
  }
  
  .news-list-item-nth-child {
    margin-left: 20px;
  }
  
  .news-name {
    color: #000000;
    font-size: 14px;
    font-family: "OpenSans Bold", sans-serif;
    text-transform: uppercase;
    line-height: 1.2;
  }
  
  .news-name:hover {
    color: #b59f5b;
  }

  .news-date {
    color: #888888;
    font-size: 12px;
    font-style: normal;
  }


  .author {
    font-size: 12px;
    font-family: "OpenSans Bold", sans-serif;
    color: #000000;
    padding-left: 10px;
  }
  
  .card-text {
    margin-top: 55px;
  }
  
  .card-text > p {
    font-size: 15px;
    font-family: "OpenSans Regular", sans-serif;
    color: #15242c;
    line-height: 1.46;
  }
  
  .card-text > p:not(:first-child) {
    margin-top: 16px;
  }

@media screen and (max-width: 640px) {
  .card-media {
    margin-top: 20px;
  }
}

 @media screen and (max-width: 640px) {
  .card-text {
    margin-top: 20px;
 }
}



  /* ======================POPUP */

  .popup {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000000b3;
    z-index: 999;
    justify-content: center;
    align-items: center;
  }

  .popup-container {
    position: relative;
    width: 30%;
    max-width: 700px;
    padding: 30px 20px;
    background-color: white;
  }

  @media screen and (min-width: 641px) and (max-width: 1199px) {
    .popup-container {
      width: 50%;
    }
  }

  @media screen and (max-width: 640px) {
    .popup-container {
      width: 90%;
    }
  }

  .feedback {
    font-size: 12px;
  }

  .form-row {
    margin-bottom: 20px;
  }

  .question-select {
    width: 100%;
    display: inline-block;
    margin-top: 10px;
    padding: 13px 10px;
    color: #818383;
    -webkit-appearance: none;
    border: none;
    background: #f3f2f2 url(../svg/form-arrows.svg) no-repeat right 10px center;
    background-size: 8px;
    font: inherit;
  }

  .form-hint {
    display: block;
    margin-bottom: 10px;
  }


  .radio {
   position: absolute;
   clip: rect(1px, 1px, 1px, 1px);
   height: 1px;
   width: 1px;
  }

  .radio:checked ~ .radio-group-text::before {
    background-image: url("../svg/form-circle.svg");
  }

  .radio-group-text::before {
   content: "";
   display: inline-block;
   vertical-align: middle;
   width: 15px;
   height: 15px;
   margin-right: 3px;
   background: url("../svg/form-empty-circle.svg") no-repeat center center;
   background-size: 100%
  }

  .form-textarea {
    width: 100%;
    min-height: 100px;
    resize: none;
    padding: 10px;
    margin-top: 10px;
    color: #818383;
    background-color: #f3f2f2;
    border: none;
    font: inherit;
  }

  .question-select:hover, .question-select:focus, .form-textarea:hover, .form-textarea:focus {
    outline: 1px solid #b59f5b;
    outline-offset: -1px;
  }

  .button-send {
    width: 100%;
    padding: 15px;
    font-size: inherit;
    font-family: "OpenSans Bold", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #b59f5b;
    border: none;
    margin-top: 30px;
  }

  .button-send:focus, .button-send:hover {
   outline: 2px solid #b59f5b;
   outline-offset: 4px;
   color: black;
  }

  .popup-close {
    position: absolute;
    top: -20px;
    right: 0;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: none;
  }
  
  
  /* ======================ASIDE */
  
  .sidebar {
    width: 272px;
  }

@media screen and (max-width: 640px) {
 .sidebar {
    width: 100%;
 }
}
  
  .aside__news__post {
    display: flex;
    text-align: left;
    margin-top: 22px;
  }
  
  .news-img {
    margin-right: 10px;
  }
  
  .aside__title {
    font-family: "OpenSans Bold", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    margin: 0 0 24px;
  }
  
  .aside__title::after {
    content: "";
    display: block;
    width: 66px;
    height: 3px;
    background-color: #b59f5b;
    margin: 10px auto 0;
  }

  @media screen and (max-width: 640px) {
    .aside__title {
      font-size: 16px;
    }
  }
  
  .news-name {
    margin-top: 0px;
    text-decoration: none;
  }
  
  .news-link-aside {
    text-decoration: none;
    font-family: "OpenSans Bold", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
  }
  
  .news-link-aside:hover {
    color: #b59f5b;
  }
  
  .search-form {
    display: flex;
    margin-top: 60px;
  }
  
  .button-search {
    width: 48px;
    height: 48px;
    background-color: #b59f5b;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center center;
  
    flex-shrink: 0;
  }
  
  .button-search:hover {
    background-color: #211d15;
  }
  
  .visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
  }
  
  .sidebar-item:nth-child(n + 2) {
    margin-top: 60px;
  }
  
  .search-text-input {
    height: 48px;
    background-color: #f4f7f6;
  
    font-family: "OpenSans Regular", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #a2a4a3;
  }
  
  input:focus {
    border: 2px solid #b59f5b;
  }
  
  .mail-input {
    margin-bottom: 20px;
  }
  
  .subscribe {
    width: 100%;
    height: 48px;
    background-color: #b59f5b;
  }
  
  .sub-text {
    font-family: "OpenSans Bold", sans-serif;
    font-size: 14px;
    color: #ffffff;
    line-height: 40px;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .subscribe:hover {
    background: #211d15;
  }
  
  /* =============================TAGS */
  .aside-tags {
    margin-top: 60px;
  }
  
  .aside-tags-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 272px;
  }
  
  .aside-tags-item {
    margin: 4px 4px 0 0;
  }
  
  .aside-tags-link {
    text-decoration: none;
    font-family: "OpenSans Bold", sans-serif;
    text-transform: uppercase;
    color: #0f0d0e;
    font-size: 12px;
    border: 3px solid #ededed;
    padding: 6px 12px;
    display: block;
  }
  
  .aside-tags-link:hover {
    border-color: #b59f5b;
  }
  
  /* ==========================TOPICS */
  .aside-topics {
    margin-top: 60px;
  }
  
  .aside-topic-item {
    list-style-type: none;
    margin-left: 3px;
    margin-top: 10px;
    border-bottom: 1px solid #eeeeee;
    padding: 6px 0 8px;
  }
  
  .aside-topic-item-top {
    margin-top: 14px;
  }
  
  .aside-topic-link {
    text-decoration: none;
    align-items: center;
    align-content: space-between;
    font-family: "OpenSans Bold", sans-serif;
    color: #000000;
    font-size: 14px;
  }
  
  .aside-topic-link:hover {
    color: #b59f5b;
  }
  
  .topic-number {
    margin-left: 5px;
    font-family: "OpenSans Bold", sans-serif;
    font-size: 12px;
    color: #b59f5b;
    display: inline-block;
    vertical-align: top;
  }

  /* ==========================SHOP */
  .shop {
    display: block;
    box-sizing: border-box;
    padding: 0 0 64px 0;
  }

  @media screen and (min-width: 641px) and (max-width: 1199px) {
    .shop {
      margin-top: 50px;
    }
  }

  @media screen and (max-width: 640px) {
    .shop {
      margin-top: 40px;
    }
  }

  @media screen and (min-width: 641px) and (max-width: 1199px) {
    .container {
      width: 91%;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .shop-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .shop-item {
    display: flex;
    flex-direction: column;
   width: calc(33.333% - 43.33px);
  }

  @media screen and (min-width: 641px) and (max-width: 1199px) {
    .shop-item {
      width: calc(50% - 13.5px);
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width: 640px) {
    .shop-item {
      width: 100%;
      margin-bottom: 25px;
    }
  }

  .shop-img {
    margin: 0 auto;
    display: block;
    width: 87%;
  }

  .shop-wrapper {
    position: relative;
    z-index: 1;
    margin-top: -30px;
    border: 3px solid #b59f5b;
    padding: 57px 23px 23px 23px;
    flex: 1;
  }

  @media screen and (min-width: 641px) and (max-width: 1199px) {
    .shop-wrapper {
      padding-top: 55px;
      margin-top: -45px;
    } 
  }

  .shop-title {
    margin-top: 0 0 8px 0;
    line-height: 24px;
    text-transform: uppercase;
    font-family: "OpenSans Bold", sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  @media screen and (max-width: 640px) {
    .shop-title {
      font-size: 17px;
    }
  }

  .shop-content {
    font-size: 15px;
    line-height: 22px;
    font-family: "OpenSans Regular", sans-serif;
    color: #0f0d0e;
  }

  .shop-content-link {
    text-decoration: none;
    color: #b59f5b;
  }

  .shop-price-wrapper {
    display: flex;
    margin-top: 23px;
    justify-content: space-between;
    align-items: flex-end;
 }

 .shop-sale {
  font-size: 14px;
  font-family: "OpenSans Bold", sans-serif;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #0f0d0e;
  line-height: 1;
 }

 .shop-value {
  font-size: 20px;
  font-family: "OpenSans Bold", sans-serif;
  text-transform: uppercase;
  color: #0f0d0e;
  line-height: 1;
 }

 .button {
  background-color: #b59f5b;
  border: 0;
  height: 48px;
  font-family: "OpenSans Bold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  flex-shrink: 0;
  cursor: pointer;
 }

 .button-small {
  width: 141px;
 }
  
  /* ===========================FOOTER */
  .footer {
    margin-top: 64px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 641px) and (max-width: 1199px) {
    .footer {
      margin-top: 50px;
    }
  }

  @media screen and (max-width: 640px) {
    .footer {
      margin-top: 10px;
    }
  }
  
  .container-footer {
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
  }

  
  .footer-address {
    background-color: #f4f7f6;
    height: 80px;
    padding: 30px 0;
    margin-bottom: 75px;
  }
  
  .footer-list {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .social-network-icon {
    display: block;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
  }
  
  .social-icon-dribbble {
    background-image: url(../svg/001-dribbble.svg);
  }
  
  .social-icon-pinterest {
    background-image: url(../svg/001-pinterest.svg);
  }
  
  .social-icon-tumblr {
    background-image: url(../svg/003-tumblr.svg);
  }
  
  .footer-list-items-side {
    margin-left: 80px;
  }
  
  .copyright {
    display: flex;
    justify-content: center;
    margin-top: 70px;
  }

  @media screen and (min-width: 641px) and (max-width: 1199px) {
    .copyright {
      margin-top: 50px;
    }
  }
  
  .copyright-link {
    font-family: "OpenSans Bold", sans-serif;
    color: #999999;
    font-size: 12px;
  }
  